<div class="container">
    <form name="commonNumberForm" ng-submit="getCommonNumber(commonNumberForm.$valid)" novalidate>
        <button type="button" ng-click="addNumber()" class="btn btn-primary"><i class="fa fa-plus-square"></i> Add Number</button>
        <button type="submit" class="btn btn-success"><i class="fa fa-lg" ng-class="{'fa-spinner fa-spin' : showSpinner }"></i> Common Number</button>
        <br /><br />
        <div class="alert alert-info">
            <p>1. Add Numbers from which you want to get most common number.</p>
            <p>2. Click Common Number button to get most common number.</p>
        </div>
        <table class="table table-bordered" style="width: 300px">
            <thead>
                <tr ng-hide="!numberList.length">
                    <th class="col-sm-2">Sr No.</th>
                    <th class="col-sm-2">Number</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="elm in numberList track by $index">
                    <td>{{ $index + 1 }}</td>
                    <td>
                        <span ng-class="{ 'has-error' : commonNumberForm.segmentName{{ $index + 1 }}.$invalid && commonNumberForm.segmentName{{ $index + 1 }}.$touched }">
                            <input required type="number" name="segmentName{{ $index + 1 }}" ng-model="elm.number" style="height:25px;" class="form-control">
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <br />
    <p ng-show="response.showResponse == true" style="width: 1000px;" class="alert alert-success">
        <b>Common Number: </b> {{ response.result }}<br />
    </p><br />
    <p ng-show="error.hasError" class="alert alert-danger" style="width: 1000px;">{{ error.errorMessage }}</p>
</div>
