<div class="container">
    <form name="positiveDivisorForm" ng-submit="calculatePositiveDivisors(positiveDivisorForm.$valid)" novalidate>
        <div class="form-group col-sm-3" ng-class="{ 'has-error' : positiveDivisorForm.number.$invalid && positiveDivisorForm.number.$touched }">
            <label>*Positive Integer</label>
            <input type="number" name="number" class="form-control" ng-model="number" required>
            <div class="help-block" ng-messages="positiveDivisorForm.number.$error" ng-if="positiveDivisorForm.number.$invalid && positiveDivisorForm.number.$touched">
                <p ng-message="required">Number is required.</p>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top:25px;"><i class="fa fa-lg" ng-class="{'fa-spinner fa-spin' : showSpinner }"></i> Get Divisors</button>
    </form>
    <br />
    <br />
    <br />
    <p ng-show="response.showResponse == true" style="width: 1000px;" class="alert alert-success">
        <b>Positive Divisor: </b> {{ response.result }}<br />
    </p><br />
    <p ng-show="error.hasError" class="alert alert-danger" style="width: 1000px;">{{ error.errorMessage }}</p>
</div>